.ipynb_checkpoints/
*/.ipynb_checkpoints/
__notebook_profiles__
IDE/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.env
.venv
env/
venv/
ENV/
*.pth
*.pt
*.pkl
*.h5
datasets/
data/
.DS_Store
.directory
Thunbs.db